{% extends "index.html" %}

{% block paragraph %}
    <p>Here is where the text info will go!</p>
{% endblock %}
{% block graph %}
    <div class="chart-wrapper">
        <div class="chart-title">
            Pokemon data collation
        </div>
        <div class="chart-stage">
            <div id="pokemon-generation-chart"></div>
        </div>
    </div>
{% endblock %}
{% block pie %}
{% endblock %}
{% block select1 %}
{% endblock %}
{% block select2 %}
{% endblock %}
{% block data %}
{% endblock %}