{% extends "index.html" %}

{% block paragraph %}
    <p>Here is where the text info will go!</p>
{% endblock %}
{% block graph %}
    <div class="chart-wrapper">
        <div class="chart-title">
            Team compared to past winners
        </div>
        <div class="chart-stage">
            <div id="team-comparison-chart"></div>
        </div>
    </div>
{% endblock %}
{% block pie %}
    <div class="chart-wrapper">
        <div class="chart-title">
            Pokemon breakdown
        </div>
        <div class="chart-stage">
            <div id="type-split-pie"></div>
        </div>
    </div>
{% endblock %}
{% block select1 %}
    <div class="chart-wrapper">
        <div class="chart-title">
            Choose your team
        </div>
        <div class="chart-stage">
            <div id="teambuilder-menu"></div>
        </div>
    </div>
{% endblock %}
{% block select2 %}
    <div class="chart-wrapper">
        <div class="chart-title">
            Choose a past winning team
        </div>
        <div class="chart-stage">
            <div id="team-select"></div>
        </div>
    </div>
{% endblock %}
{% block data %}
    <div class="chart-wrapper">
        <div class="chart-title">
            Pokemon Data
        </div>
        <div class="chart-stage">
            <div id="pokemon-data-nd"></div>
        </div>
    </div>
{% endblock %}